/s04BasesDeNode/salida/*.txt
node_modules/
tokens.txt
.api-token
.env
uploads/productos/**.*
uploads/usuarios/**.*
coverage/

# Logs
/logs

.env.development
.env.production
.env.test

# Build directory
/build
/dist
*.tsbuildinfo
yarn.lock
/mongo
/mongo-test
/mongo-backup-*
/node_modules

tmp/
