/s04BasesDeNode/salida/*.txt
node_modules/
tokens.txt
.env
uploads/productos/**.*
uploads/usuarios/**.*
coverage/

.env.development
.env.production
.env.test

# Build directory
build/



/mongo-test

# Ignore only the root mongo folder
/mongo

# Do not ignore nested mongo folders
