/s04BasesDeNode/salida/*.txt
node_modules/
/node_modules
tokens.txt
.env
uploads/productos/**.*
uploads/usuarios/**.*
coverage/

.env.development
.env.production
.env.test

# Build directory
/build

mongo
mongo-test