version: "3.8"

# docker compose --profile dev up -d
# docker compose --profile test up -d

networks:
  mongo_network:
    driver: bridge

services:
  mongo-db-dev:
    image: mongo:6.0.6
    container_name: mongo-db-dev # Unique container name
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DEV_MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DEV_MONGO_PASS}

    volumes:
      # For dev profile
      - ./mongo:/data/db
    ports:
      # For dev profile
      - 27017:27017
    profiles:
      - dev
    networks:
      - mongo_network

  mongo-db-test:
    image: mongo:6.0.6
    restart: always
    container_name: mongo-db-test # Unique container name
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DEV_MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DEV_MONGO_PASS}
    volumes:
      - ./mongo-test:/data/db
    ports:
      - 27018:27017
    profiles:
      - test
    networks:
      - mongo_network
