version: "3.8"

# docker compose --profile dev up -d
# docker compose --profile test up -d

networks:
  mongo_network:
    driver: bridge

volumes:
  mongo-dev-data:
  mongo-test-data:

services:
  mongo-db-dev:
    image: mongo:6.0.6
    container_name: mongo-db-dev
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DEV_MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DEV_MONGO_PASS}
    volumes:
      - mongo-dev-data:/data/db
    ports:
      - 27017:27017
    profiles:
      - dev
    networks:
      - mongo_network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s

  mongo-db-test:
    image: mongo:6.0.6
    container_name: mongo-db-test
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${DEV_MONGO_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${DEV_MONGO_PASS}
    volumes:
      - mongo-test-data:/data/db
    ports:
      - 27018:27017
    profiles:
      - test
    networks:
      - mongo_network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
